@model FootballStore.ViewModels.CatalogIndexViewModel

@{
    ViewData["Title"] = "Catalog";
}

<section>
    <div>
        <form method="get">
            <label data-title="brand">
                <select asp-for="@Model.BrandFilterAplied" asp-items="@Model.Brands"></select>
            </label>
            <label data-title="type">
                <select asp-for="@Model.TypesFilterAplied" asp-items="@Model.Types"></select>
            </label>
            <input type="submit" value="Apply Filter"/>
        </form>
    </div>
</section>
<div calss="container">
    @if (Model.CatalogItems.Any())
    {
        <div calss="row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <img src="@catalogItem.PictureUrl"/>
                <div>
                    <span>@catalogItem.Name</span>
                </div>
                <div>
                    <span>@catalogItem.Price</span>
                </div>
            }
        </div>
    }
</div>